LAYER
    NAME "produkte"
    GROUP "edit"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
    DATA "geom FROM (SELECT g.id AS id, g.name AS name, k.name AS kind, g.geom AS geom FROM demo_wkaltz_adnovum.products AS g LEFT OUTER JOIN edit.choise AS k ON g.kind_id = k.id) AS foo USING unique id USING srid=2056"
    LABELITEM "name"
    PROJECTION
      "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Point"
        STYLE
            SYMBOL "circle"
            SIZE 48
            WIDTH 3
            OUTLINECOLOR 255 255 255 
            COLOR 132 0 255
        END
        LABEL
            STYLE
                GEOMTRANSFORM 'labelpoly'
                COLOR 255 255 255
            END # STYLE
            COLOR 0 0 0
            #OUTLINECOLOR 255 255 255
            FONT arial_bold
            TYPE truetype
            SIZE 14
            OFFSET 0 -45
        END
    END

    METADATA
        "wms_title" "Target"

        "gml_include_items" "all"
        "gml_exclude_items" "id"
        "gml_types" "auto"
        "gml_featureid" "id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END
