LAYER
    STATUS ON
    EXTENT 2420000 1040500 2839000 1306400
    TYPE LINE
    CONNECTIONTYPE postgis
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    NAME "floor_slider"
    DATA "way FROM (SELECT * FROM planet_osm_roads WHERE (admin_level = '%floor%' OR ('%floor%' = 'NULL' AND admin_level IS NULL) OR '%floor%' = '*')) as foo USING unique osm_id USING srid=2056"
    VALIDATION
        "default_floor" "NULL"
        "floor" "^[0-9*]+$"
    END
    CLASS
        NAME "Road"
        STYLE
            WIDTH 2
            COLOR 230 0 0
        END
    END
END
