LAYER
    STATUS ON
    EXTENT 420000 40500 839000 306400
    TYPE LINE
    CONNECTIONTYPE postgis
    CONNECTION "user=${PGUSER} password=${PGPASSWORD} host=${PGHOST} dbname=${OSM_PGDATABASE}"
    NAME "floor_slider"
    DATA "way FROM (SELECT * FROM planet_osm_roads WHERE (admin_level = '%floor%' OR ('%floor%' = 'NULL' AND admin_level IS NULL) OR '%floor%' = '*')) as foo using unique osm_id using srid=21781"
    VALIDATION
        "default_floor" "NULL"
        "floor" "^[0-9*]+$"
    END
    CLASS
        NAME "Road"
        STYLE
            WIDTH 2
            COLOR 230 0 0
        END
    END
END
