

LAYER
    NAME "hotel_label"
    GROUP "hotel_filter"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "way FROM (SELECT regexp_replace(format('%s', name), '^$', osm_id::text) AS display_name,name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,layer,leisure,man_made,motorcar,\"natural\",operator,population,power,place,railway,ref,religion,shop,sport,surface,tourism,waterway,wood,way FROM planet_osm_point) AS foo USING unique osm_id USING srid=2056"
    FILTER ('[tourism]' = 'hotel')
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Hôtels"
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "ows_title" "Hôtels"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_way_type" "point"
        "gml_geometries" "way"
    END
END

LAYER
    NAME "hotel"
    GROUP "hotel_filter"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "way FROM (SELECT regexp_replace(format('%s', name), '^$', osm_id::text) AS display_name,name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,layer,leisure,man_made,motorcar,\"natural\",operator,population,power,place,railway,ref,religion,shop,sport,surface,tourism,waterway,wood,way FROM planet_osm_point) AS foo USING unique osm_id USING srid=2056"
    FILTER ('[tourism]' = 'hotel')
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Hôtels"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 30 0 0
            COLOR 230 0 0
        END
    END

    METADATA
        "wms_title" "Hôtels"

        "gml_include_items" "osm_id,name,way"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_way_type" "point"
        "gml_geometries" "way"
    END
END

LAYER
    NAME "police"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity = 'police'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "Poste de police"
        KEYIMAGE symbols/police.png
        STYLE
            SYMBOL "police"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 56 117 215
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    METADATA
        "wms_title" "police"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "post_office"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,
            layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place, railway, ref, religion,
            shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity = 'post_office'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "Office de poste"
        KEYIMAGE symbols/postal.png
        STYLE
            SYMBOL "postal"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 128 128 0
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    METADATA
        "wms_title" "post_office"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "fuel"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity = 'fuel'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "Station service"
        KEYIMAGE symbols/fillingstation.png
        STYLE
            SYMBOL "fillingstation"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 157 112 80
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    METADATA
        "wms_title" "fuel"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "parking"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity = 'parking'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "Parking"
        KEYIMAGE symbols/parking.png
        STYLE
            SYMBOL "parking"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 157 112 80
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    METADATA
        "wms_title" "parking"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "many_attributes"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,name AS name2,name AS name3,name AS name4,name AS name5,name AS name6,osm_id,access,
            aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,layer,
            leisure,man_made,motorcar,\"natural\", operator, population, power, place, railway, ref,
            religion, shop, sport, surface, tourism, waterway, wood, way AS geom FROM planet_osm_point
        WHERE name is not NULL AND highway = 'bus_stop'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "Arrêt de bus"
        KEYIMAGE symbols/busstop.png
        STYLE
            SYMBOL "busstop"
            SIZE 30
        END
    END
    METADATA
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "bus_stop"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE highway = 'bus_stop'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "Arrêt de bus"
        MAXSCALEDENOM 20000
        KEYIMAGE symbols/busstop.png
        STYLE
            SYMBOL "busstop"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 157 112 80
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 15000
        END
    END
    METADATA
        "wms_title" "bus_stop"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "accommodation"
    GROUP "alpine_hut"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE tourism in ('alpine_hut','hostel', 'guest_house', 'chalet', 'hotel', 'camp_site')
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASSITEM "tourism"
    CLASS
        NAME "Refuge alpin, chalet ou campement"
        EXPRESSION {alpine_hut,chalet,camp_site}
        KEYIMAGE symbols/hostel_0star.png
        STYLE
            SYMBOL "hostel_0star"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Auberge de jeunesse"
        EXPRESSION 'hostel'
        KEYIMAGE symbols/youthhostel.png
        STYLE
            SYMBOL "youthhostel"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Bed and Breakfast"
        EXPRESSION 'guest_house'
        KEYIMAGE symbols/bed_breakfast1-2.png
        STYLE
            SYMBOL "bed_breakfast1-2"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Hôtel"
        EXPRESSION 'hotel'
        KEYIMAGE symbols/hotel_0star.png
        STYLE
            SYMBOL "hotel_0star"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END

    END

    METADATA
        "wms_title" "accommodation"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "information"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE tourism = 'information'
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASSITEM "tourism"
    CLASS
        NAME "Information"
        KEYIMAGE symbols/information.png
        STYLE
            SYMBOL "information"
            SIZE 30
        END
    END

    METADATA
        "wms_title" "tourism_information"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "tourism_activity"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE tourism in ('zoo','casino', 'bicycle_rental', 'boat_rental', 'winery', 'brewery', 'museum', 'viewpoint')
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASSITEM "tourism"
    CLASS
        NAME "Casino"
        EXPRESSION 'casino'
        KEYIMAGE symbols/casino-2.png
        STYLE
            SYMBOL "casino"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 192 112 180
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Location de vélo"
        EXPRESSION 'bicycle_rental'
        KEYIMAGE symbols/cycling.png
        STYLE
            SYMBOL "bicycle_rental"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 192 112 180
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Location de bateau"
        EXPRESSION 'boat_rental'
        KEYIMAGE symbols/sailing.png
        STYLE
            SYMBOL "boat_rental"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 192 112 180
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Cave à vin"
        EXPRESSION 'winery'
        KEYIMAGE symbols/winebar.png
        STYLE
            SYMBOL "winery"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 192 112 180
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Brasserie"
        EXPRESSION 'brewery'
        KEYIMAGE symbols/brewery.png
        STYLE
            SYMBOL "brewery"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 192 112 180
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END

    CLASS
        NAME "Musée"
        EXPRESSION 'museum'
        KEYIMAGE symbols/museum.png
        STYLE
            SYMBOL "museum"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 192 112 180
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Point de vue"
        EXPRESSION 'viewpoint'
        KEYIMAGE symbols/viewpoint.png
        STYLE
            SYMBOL "viewpoint"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 210 128 0
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Zoo"
        EXPRESSION 'zoo'
        KEYIMAGE symbols/zoo.png
        STYLE
            SYMBOL "zoo"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 2 92 5
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END

    METADATA
        "wms_title" "tourism_activity"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "bank"
    GROUP "osm"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity in ('bank', 'atm')
    ) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASSITEM "amenity"
    CLASS
        NAME "Banques"
        EXPRESSION "bank"
        KEYIMAGE symbols/bank.png
        STYLE
            SYMBOL "bank"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 2 92 5
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
        END
    END
    CLASS
        NAME "Distributeurs"
        EXPRESSION "atm"
        KEYIMAGE symbols/atm-2.png
        STYLE
            SYMBOL "atm"
            SIZE 30
        END
    END

    METADATA
        "wms_title" "bank"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "place_of_worship"
    GROUP "osm"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place, railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom FROM planet_osm_point) AS foo USING unique osm_id USING srid=2056"
    FILTER ('[amenity]' = 'place_of_worship')
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASSITEM "religion"
    CLASS
      NAME "Christian"
      EXPRESSION "christian"
      KEYIMAGE symbols/church.png
      STYLE
            SYMBOL "church"
            SIZE 30
      END
      LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 43 34 94
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
      END
    END
    CLASS
      NAME "Muslim"
      KEYIMAGE symbols/mosquee.png
      EXPRESSION "muslim"
      STYLE
            SYMBOL "mosquee"
            SIZE 30
      END
      LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 43 34 94
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
      END
    END
    CLASS
        NAME "Autre lieux de culte"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 43 34 94
            COLOR 91 72 196
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "Lieux de culte"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "sustenance"
    GROUP "restaurant"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity in ('cafe', 'restaurant', 'fast_food', 'bar')
    ) AS foo USING unique osm_id USING srid=2056"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    LABELITEM "name"
    CLASSITEM "amenity"
    CLASS
        NAME "Cafés"
        EXPRESSION {cafe,bar}
        KEYIMAGE symbols/coffee.png
        STYLE
            SYMBOL "coffee"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
   CLASS
        NAME "Fast-food"
        EXPRESSION "fast_food"
        KEYIMAGE symbols/fastfood.png
        STYLE
            SYMBOL "fastfood"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Restaurant"
        EXPRESSION "restaurant"
        KEYIMAGE symbols/restaurant.png
        STYLE
           SYMBOL "restaurant"
           SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 100 38 144
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END

    METADATA
        "wms_title" "Location of restaurant"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END

LAYER
    NAME "entertainment"
    GROUP "cafe"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (
        SELECT
            regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,
            name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,
            foot,highway,layer,leisure,man_made,motorcar,\"natural\", operator, population, power, place,
            railway, ref, religion, shop, sport, surface, tourism, waterway, wood, way AS geom
        FROM planet_osm_point
        WHERE amenity in ('cafe', 'bar', 'nightclub', 'cinema')
    ) AS foo USING unique osm_id USING srid=2056"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    LABELITEM "name"
    CLASSITEM "amenity"
    CLASS
        NAME "Cafés"
        EXPRESSION "cafe"
        KEYIMAGE symbols/coffee_marron.png
        STYLE
            SYMBOL "coffee_marron"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 139 114 59
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Bar"
        EXPRESSION "bar"
        KEYIMAGE symbols/bar.png
        STYLE
            SYMBOL "bar"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 139 114 59
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Cinéma"
        EXPRESSION "cinema"
        KEYIMAGE symbols/cinema.png
        STYLE
            SYMBOL "cinema"
            SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 139 114 59
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END
    CLASS
        NAME "Boîte de nuit"
        EXPRESSION "nightclub"
        KEYIMAGE symbols/dancinghall.png
        STYLE
           SYMBOL "dancinghall"
           SIZE 30
        END
        LABEL
            SIZE 12
            OFFSET 0 10
            COLOR 139 114 59
            OUTLINECOLOR 255 255 255
            OUTLINEWIDTH 2
            PARTIALS FALSE
            MAXSCALEDENOM 150000
        END
    END

    METADATA
        "wms_title" "nightclub"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
    END
END


LAYER
    NAME "osm_time"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,type,\"timestamp\",datetime,date,geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Dans les temps"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 0 30
            COLOR 0 0 230
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Time"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"

        "wms_timeextent" "2006-01/2013-12/P1M"
        "wms_timeitem" "datetime"
    END
END
LAYER
    NAME "osm_time2"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,type,\"timestamp\",datetime,date,geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Dans les temps"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 0 30
            COLOR 0 0 230
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Time"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"

        "wms_timeextent" "2006-01/2013-12/P1M"
        "wms_timeitem" "datetime"
    END
END
LAYER
    NAME "osm_time_default"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,type,\"timestamp\",datetime,date,geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Dans les temps"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 0 30
            COLOR 0 0 230
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Time Default"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"

        "wms_timeextent" "2010-01/2019-12/P1M"
        "wms_timeitem" "datetime"
        "wms_timedefault" "2015-06"
    END
END
LAYER
    NAME "osm_time_default_slider"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,type,\"timestamp\",datetime,date,geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Dans les temps"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 0 30
            COLOR 0 0 230
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Time Default Slider"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"

        "wms_timeextent" "2010-01/2019-12/P1M"
        "wms_timeitem" "datetime"
        "wms_timedefault" "2015-06/2017-06"
    END
END
LAYER
    NAME "osm_time_year_mounth"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,type,\"timestamp\",datetime,date,geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Dans les temps"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 0 30
            COLOR 0 0 230
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Time"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"

        "wms_timeextent" "2006/2013/P1M"
        "wms_timeitem" "datetime"
    END
END
LAYER
    NAME "osm_time_mount_year"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT regexp_replace(format(\'%s\', name), \'^$\', osm_id::text) AS display_name,name,osm_id,type,\"timestamp\",datetime,date,geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Dans les temps"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 0 30
            COLOR 0 0 230
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Time"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"

        "wms_timeextent" "2006-01/2013-12/P1Y"
        "wms_timeitem" "datetime"
    END
END

LAYER
    NAME "osm_scale"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "way FROM (SELECT regexp_replace(format('%s', name), '^$', osm_id::text) AS display_name,name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,layer,leisure,man_made,motorcar,\"natural\",operator,population,power,place,railway,ref,religion,shop,sport,surface,tourism,waterway,wood,way FROM planet_osm_point) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    MINSCALEDENOM 1500
    MAXSCALEDENOM 4000

    CLASS
        NAME "OSM"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 0 30 0
            COLOR 0 230 0
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Scale"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_way_type" "point"
        "gml_geometries" "way"
        "wfs_enable_request" "*"
    END
END


LAYER
    NAME "aster"
    GROUP "half_query"
    TYPE RASTER
    STATUS ON
    PROCESSING "RESAMPLE=AVERAGE"
    CONNECTIONTYPE OGR
    TILEINDEX Aster2056.shp

    CLASS
        EXPRESSION ([pixel] > 100.0 and [pixel] <= 120.0)
        STYLE
            COLOR 160.0 235.0 140.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 120.0 and [pixel] <= 140.0)
        STYLE
            COLOR 164.1 235.4 140.95
        END
    END

    CLASS
        EXPRESSION ([pixel] > 140.0 and [pixel] <= 160.0)
        STYLE
            COLOR 168.2 235.8 141.9
        END
    END

    CLASS
        EXPRESSION ([pixel] > 160.0 and [pixel] <= 180.0)
        STYLE
            COLOR 172.3 236.2 142.85
        END
    END

    CLASS
        EXPRESSION ([pixel] > 180.0 and [pixel] <= 200.0)
        STYLE
            COLOR 176.4 236.6 143.8
        END
    END

    CLASS
        EXPRESSION ([pixel] > 200.0 and [pixel] <= 220.0)
        STYLE
            COLOR 180.5 237.0 144.75
        END
    END

    CLASS
        EXPRESSION ([pixel] > 220.0 and [pixel] <= 240.0)
        STYLE
            COLOR 184.6 237.4 145.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 240.0 and [pixel] <= 260.0)
        STYLE
            COLOR 188.7 237.8 146.65
        END
    END

    CLASS
        EXPRESSION ([pixel] > 260.0 and [pixel] <= 280.0)
        STYLE
            COLOR 192.8 238.2 147.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 280.0 and [pixel] <= 300.0)
        STYLE
            COLOR 196.9 238.6 148.55
        END
    END

    CLASS
        EXPRESSION ([pixel] > 300.0 and [pixel] <= 320.0)
        STYLE
            COLOR 201.0 239.0 149.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 320.0 and [pixel] <= 340.0)
        STYLE
            COLOR 205.1 239.4 150.45
        END
    END

    CLASS
        EXPRESSION ([pixel] > 340.0 and [pixel] <= 360.0)
        STYLE
            COLOR 209.2 239.8 151.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 360.0 and [pixel] <= 380.0)
        STYLE
            COLOR 213.3 240.2 152.35
        END
    END

    CLASS
        EXPRESSION ([pixel] > 380.0 and [pixel] <= 400.0)
        STYLE
            COLOR 217.39999999999998 240.6 153.3
        END
    END

    CLASS
        EXPRESSION ([pixel] > 400.0 and [pixel] <= 420.0)
        STYLE
            COLOR 221.5 241.0 154.25
        END
    END

    CLASS
        EXPRESSION ([pixel] > 420.0 and [pixel] <= 440.0)
        STYLE
            COLOR 225.6 241.4 155.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 440.0 and [pixel] <= 460.0)
        STYLE
            COLOR 229.7 241.8 156.15
        END
    END

    CLASS
        EXPRESSION ([pixel] > 460.0 and [pixel] <= 480.0)
        STYLE
            COLOR 233.8 242.2 157.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 480.0 and [pixel] <= 500.0)
        STYLE
            COLOR 237.89999999999998 242.6 158.05
        END
    END


    CLASS
        EXPRESSION ([pixel] > 500.0 and [pixel] <= 575.0)
        STYLE
            COLOR 242.0 243.0 159.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 575.0 and [pixel] <= 650.0)
        STYLE
            COLOR 242.25 239.4 155.85
        END
    END

    CLASS
        EXPRESSION ([pixel] > 650.0 and [pixel] <= 725.0)
        STYLE
            COLOR 242.5 235.8 152.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 725.0 and [pixel] <= 800.0)
        STYLE
            COLOR 242.75 232.2 149.55
        END
    END

    CLASS
        EXPRESSION ([pixel] > 800.0 and [pixel] <= 875.0)
        STYLE
            COLOR 243.0 228.6 146.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 875.0 and [pixel] <= 950.0)
        STYLE
            COLOR 243.25 225.0 143.25
        END
    END

    CLASS
        EXPRESSION ([pixel] > 950.0 and [pixel] <= 1025.0)
        STYLE
            COLOR 243.5 221.4 140.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1025.0 and [pixel] <= 1100.0)
        STYLE
            COLOR 243.75 217.8 136.95
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1100.0 and [pixel] <= 1175.0)
        STYLE
            COLOR 244.0 214.2 133.8
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1175.0 and [pixel] <= 1250.0)
        STYLE
            COLOR 244.25 210.6 130.65
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1250.0 and [pixel] <= 1325.0)
        STYLE
            COLOR 244.5 207.0 127.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1325.0 and [pixel] <= 1400.0)
        STYLE
            COLOR 244.75 203.4 124.35
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1400.0 and [pixel] <= 1475.0)
        STYLE
            COLOR 245.0 199.8 121.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1475.0 and [pixel] <= 1550.0)
        STYLE
            COLOR 245.25 196.2 118.05000000000001
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1550.0 and [pixel] <= 1625.0)
        STYLE
            COLOR 245.5 192.6 114.9
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1625.0 and [pixel] <= 1700.0)
        STYLE
            COLOR 245.75 189.0 111.75
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1700.0 and [pixel] <= 1775.0)
        STYLE
            COLOR 246.0 185.4 108.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1775.0 and [pixel] <= 1850.0)
        STYLE
            COLOR 246.25 181.8 105.45
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1850.0 and [pixel] <= 1925.0)
        STYLE
            COLOR 246.5 178.2 102.30000000000001
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1925.0 and [pixel] <= 2000.0)
        STYLE
            COLOR 246.75 174.6 99.15
        END
    END


    CLASS
        EXPRESSION ([pixel] > 2000.0 and [pixel] <= 2150.0)
        STYLE
            COLOR 247.0 171.0 96.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2150.0 and [pixel] <= 2300.0)
        STYLE
            COLOR 242.05 167.6 93.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2300.0 and [pixel] <= 2450.0)
        STYLE
            COLOR 237.1 164.2 91.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2450.0 and [pixel] <= 2600.0)
        STYLE
            COLOR 232.15 160.8 89.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2600.0 and [pixel] <= 2750.0)
        STYLE
            COLOR 227.2 157.4 86.8
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2750.0 and [pixel] <= 2900.0)
        STYLE
            COLOR 222.25 154.0 84.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2900.0 and [pixel] <= 3050.0)
        STYLE
            COLOR 217.3 150.6 82.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3050.0 and [pixel] <= 3200.0)
        STYLE
            COLOR 212.35 147.2 79.9
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3200.0 and [pixel] <= 3350.0)
        STYLE
            COLOR 207.4 143.8 77.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3350.0 and [pixel] <= 3500.0)
        STYLE
            COLOR 202.45 140.4 75.3
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3500.0 and [pixel] <= 3650.0)
        STYLE
            COLOR 197.5 137.0 73.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3650.0 and [pixel] <= 3800.0)
        STYLE
            COLOR 192.55 133.6 70.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3800.0 and [pixel] <= 3950.0)
        STYLE
            COLOR 187.6 130.2 68.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3950.0 and [pixel] <= 4100.0)
        STYLE
            COLOR 182.64999999999998 126.80000000000001 66.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4100.0 and [pixel] <= 4250.0)
        STYLE
            COLOR 177.7 123.4 63.800000000000004
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4250.0 and [pixel] <= 4400.0)
        STYLE
            COLOR 172.75 120.0 61.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4400.0 and [pixel] <= 4550.0)
        STYLE
            COLOR 167.8 116.6 59.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4550.0 and [pixel] <= 4700.0)
        STYLE
            COLOR 162.85 113.2 56.900000000000006
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4700.0 and [pixel] <= 4850.0)
        STYLE
            COLOR 157.89999999999998 109.80000000000001 54.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4850.0 and [pixel] <= 5000.0)
        STYLE
            COLOR 152.95 106.4 52.300000000000004
        END
    END
END
LAYER
    NAME "srtm"
    TYPE RASTER
    STATUS ON
    PROCESSING "RESAMPLE=AVERAGE"
    CONNECTIONTYPE OGR
    TILEINDEX SRTM2056.shp

    CLASS
        EXPRESSION ([pixel] > 100.0 and [pixel] <= 120.0)
        STYLE
            COLOR 160.0 235.0 140.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 120.0 and [pixel] <= 140.0)
        STYLE
            COLOR 164.1 235.4 140.95
        END
    END

    CLASS
        EXPRESSION ([pixel] > 140.0 and [pixel] <= 160.0)
        STYLE
            COLOR 168.2 235.8 141.9
        END
    END

    CLASS
        EXPRESSION ([pixel] > 160.0 and [pixel] <= 180.0)
        STYLE
            COLOR 172.3 236.2 142.85
        END
    END

    CLASS
        EXPRESSION ([pixel] > 180.0 and [pixel] <= 200.0)
        STYLE
            COLOR 176.4 236.6 143.8
        END
    END

    CLASS
        EXPRESSION ([pixel] > 200.0 and [pixel] <= 220.0)
        STYLE
            COLOR 180.5 237.0 144.75
        END
    END

    CLASS
        EXPRESSION ([pixel] > 220.0 and [pixel] <= 240.0)
        STYLE
            COLOR 184.6 237.4 145.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 240.0 and [pixel] <= 260.0)
        STYLE
            COLOR 188.7 237.8 146.65
        END
    END

    CLASS
        EXPRESSION ([pixel] > 260.0 and [pixel] <= 280.0)
        STYLE
            COLOR 192.8 238.2 147.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 280.0 and [pixel] <= 300.0)
        STYLE
            COLOR 196.9 238.6 148.55
        END
    END

    CLASS
        EXPRESSION ([pixel] > 300.0 and [pixel] <= 320.0)
        STYLE
            COLOR 201.0 239.0 149.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 320.0 and [pixel] <= 340.0)
        STYLE
            COLOR 205.1 239.4 150.45
        END
    END

    CLASS
        EXPRESSION ([pixel] > 340.0 and [pixel] <= 360.0)
        STYLE
            COLOR 209.2 239.8 151.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 360.0 and [pixel] <= 380.0)
        STYLE
            COLOR 213.3 240.2 152.35
        END
    END

    CLASS
        EXPRESSION ([pixel] > 380.0 and [pixel] <= 400.0)
        STYLE
            COLOR 217.39999999999998 240.6 153.3
        END
    END

    CLASS
        EXPRESSION ([pixel] > 400.0 and [pixel] <= 420.0)
        STYLE
            COLOR 221.5 241.0 154.25
        END
    END

    CLASS
        EXPRESSION ([pixel] > 420.0 and [pixel] <= 440.0)
        STYLE
            COLOR 225.6 241.4 155.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 440.0 and [pixel] <= 460.0)
        STYLE
            COLOR 229.7 241.8 156.15
        END
    END

    CLASS
        EXPRESSION ([pixel] > 460.0 and [pixel] <= 480.0)
        STYLE
            COLOR 233.8 242.2 157.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 480.0 and [pixel] <= 500.0)
        STYLE
            COLOR 237.89999999999998 242.6 158.05
        END
    END


    CLASS
        EXPRESSION ([pixel] > 500.0 and [pixel] <= 575.0)
        STYLE
            COLOR 242.0 243.0 159.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 575.0 and [pixel] <= 650.0)
        STYLE
            COLOR 242.25 239.4 155.85
        END
    END

    CLASS
        EXPRESSION ([pixel] > 650.0 and [pixel] <= 725.0)
        STYLE
            COLOR 242.5 235.8 152.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 725.0 and [pixel] <= 800.0)
        STYLE
            COLOR 242.75 232.2 149.55
        END
    END

    CLASS
        EXPRESSION ([pixel] > 800.0 and [pixel] <= 875.0)
        STYLE
            COLOR 243.0 228.6 146.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 875.0 and [pixel] <= 950.0)
        STYLE
            COLOR 243.25 225.0 143.25
        END
    END

    CLASS
        EXPRESSION ([pixel] > 950.0 and [pixel] <= 1025.0)
        STYLE
            COLOR 243.5 221.4 140.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1025.0 and [pixel] <= 1100.0)
        STYLE
            COLOR 243.75 217.8 136.95
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1100.0 and [pixel] <= 1175.0)
        STYLE
            COLOR 244.0 214.2 133.8
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1175.0 and [pixel] <= 1250.0)
        STYLE
            COLOR 244.25 210.6 130.65
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1250.0 and [pixel] <= 1325.0)
        STYLE
            COLOR 244.5 207.0 127.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1325.0 and [pixel] <= 1400.0)
        STYLE
            COLOR 244.75 203.4 124.35
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1400.0 and [pixel] <= 1475.0)
        STYLE
            COLOR 245.0 199.8 121.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1475.0 and [pixel] <= 1550.0)
        STYLE
            COLOR 245.25 196.2 118.05000000000001
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1550.0 and [pixel] <= 1625.0)
        STYLE
            COLOR 245.5 192.6 114.9
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1625.0 and [pixel] <= 1700.0)
        STYLE
            COLOR 245.75 189.0 111.75
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1700.0 and [pixel] <= 1775.0)
        STYLE
            COLOR 246.0 185.4 108.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1775.0 and [pixel] <= 1850.0)
        STYLE
            COLOR 246.25 181.8 105.45
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1850.0 and [pixel] <= 1925.0)
        STYLE
            COLOR 246.5 178.2 102.30000000000001
        END
    END

    CLASS
        EXPRESSION ([pixel] > 1925.0 and [pixel] <= 2000.0)
        STYLE
            COLOR 246.75 174.6 99.15
        END
    END


    CLASS
        EXPRESSION ([pixel] > 2000.0 and [pixel] <= 2150.0)
        STYLE
            COLOR 247.0 171.0 96.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2150.0 and [pixel] <= 2300.0)
        STYLE
            COLOR 242.05 167.6 93.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2300.0 and [pixel] <= 2450.0)
        STYLE
            COLOR 237.1 164.2 91.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2450.0 and [pixel] <= 2600.0)
        STYLE
            COLOR 232.15 160.8 89.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2600.0 and [pixel] <= 2750.0)
        STYLE
            COLOR 227.2 157.4 86.8
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2750.0 and [pixel] <= 2900.0)
        STYLE
            COLOR 222.25 154.0 84.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 2900.0 and [pixel] <= 3050.0)
        STYLE
            COLOR 217.3 150.6 82.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3050.0 and [pixel] <= 3200.0)
        STYLE
            COLOR 212.35 147.2 79.9
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3200.0 and [pixel] <= 3350.0)
        STYLE
            COLOR 207.4 143.8 77.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3350.0 and [pixel] <= 3500.0)
        STYLE
            COLOR 202.45 140.4 75.3
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3500.0 and [pixel] <= 3650.0)
        STYLE
            COLOR 197.5 137.0 73.0
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3650.0 and [pixel] <= 3800.0)
        STYLE
            COLOR 192.55 133.6 70.7
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3800.0 and [pixel] <= 3950.0)
        STYLE
            COLOR 187.6 130.2 68.4
        END
    END

    CLASS
        EXPRESSION ([pixel] > 3950.0 and [pixel] <= 4100.0)
        STYLE
            COLOR 182.64999999999998 126.80000000000001 66.1
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4100.0 and [pixel] <= 4250.0)
        STYLE
            COLOR 177.7 123.4 63.800000000000004
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4250.0 and [pixel] <= 4400.0)
        STYLE
            COLOR 172.75 120.0 61.5
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4400.0 and [pixel] <= 4550.0)
        STYLE
            COLOR 167.8 116.6 59.2
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4550.0 and [pixel] <= 4700.0)
        STYLE
            COLOR 162.85 113.2 56.900000000000006
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4700.0 and [pixel] <= 4850.0)
        STYLE
            COLOR 157.89999999999998 109.80000000000001 54.6
        END
    END

    CLASS
        EXPRESSION ([pixel] > 4850.0 and [pixel] <= 5000.0)
        STYLE
            COLOR 152.95 106.4 52.300000000000004
        END
    END
END
LAYER
    NAME "osm_open"
    EXTENT 2420000 1040500 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geom FROM (SELECT '<a href=\"javascript:cgxp.tools.openInfoWindow(''https://example.com'',''OSM'',800,500)\">Open</a>' AS open, 'https://geomapfish-demo-dc.camptocamp.com/2.4/resourceproxy?target=point&values='||osm_id AS autolink_url,type||'@camptocamp.com' AS autolink_email,name,osm_id,type,\"timestamp\",geom FROM swiss_points) AS foo USING unique osm_id USING srid=2056"
    LABELITEM "name"
    EXTENT 2473743 1074095 2839000 1306400
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels

    CLASS
        NAME "OSM"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 30 0 0
            COLOR 230 0 0
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "OSM Open"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geom_type" "point"
        "gml_geometries" "geom"
        "wfs_enable_request" "*"
    END
END


LAYER
    NAME "cinema"
    GROUP "half_query"
    EXTENT 2473743 1074095 2839000 1306400
    TYPE POINT
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "way FROM (SELECT regexp_replace(format('%s', name), '^$', osm_id::text) AS display_name,name,osm_id,access,aerialway,amenity,barrier,bicycle,brand,building,covered,denomination,ele,foot,highway,layer,leisure,man_made,motorcar,\"natural\",operator,population,power,place,railway,ref,religion,shop,sport,surface,tourism,waterway,wood,way FROM planet_osm_point) AS foo USING unique osm_id USING srid=2056"
    FILTER ('[amenity]' = 'cinema')
    LABELITEM "name"
    PROJECTION
        "init=epsg:2056"
    END
    TOLERANCE 10
    TOLERANCEUNITS pixels
    CLASS
        NAME "Cinémas"
        STYLE
            SYMBOL "circle"
            SIZE 6
            WIDTH 1
            OUTLINECOLOR 30 0 0
            COLOR 230 0 0
        END
        LABEL
            SIZE 7
            OFFSET 0 -10
            PARTIALS FALSE
        END
    END

    METADATA
        "wms_title" "Cinémas"

        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_way_type" "point"
        "gml_geometries" "way"
    END
END
LAYER
    NAME "buildings_query"
    TYPE POLYGON
    EXTENT 2420000 1040500 2839000 1306400
    STATUS ON
    TEMPLATE fooOnlyForWMSGetFeatureInfo # For GetFeatureInfo
    CONNECTIONTYPE postgis
    PROCESSING "CLOSE_CONNECTION=DEFER" # For performance
    CONNECTION "host=${OSM_PGHOST_SLAVE} port=${OSM_PGPORT_SLAVE} user=${OSM_PGUSER} password=${OSM_PGPASSWORD} dbname=${OSM_PGDATABASE}"
    DATA "geometry FROM (SELECT way AS geometry, osm_id, name FROM planet_osm_polygon WHERE building IS NOT NULL) as foo USING unique osm_id USING srid=2056"
    PROJECTION
        "init=epsg:2056"
    END
    METADATA
        "wms_title" "Buildings"
        "gml_include_items" "all"
        "gml_types" "auto"
        "gml_featureid" "osm_id"
        "gml_geometry_type" "polygon"
        "gml_geometries" "geometry"
    END
END
