*
!bin/
!mapserver/
!qgisserver/
!tilegeneration/
!haproxy/
!print/print-apps/
!geoportal/vars*.yaml
!geoportal/interfaces/
!geoportal/CONST_vars.yaml
!geoportal/CONST_config-schema.yaml
!geoportal/geomapfish_geoportal/static
!geoportal/geomapfish_geoportal/locale
geoportal/geomapfish_geoportal/locale/*.pot
!webcomponents
!package.json
!package-lock.json
!tsconfig.json
!vite.config.ts
!ui
ui/dist/
ui/node_modules/
ui/static/fa-*
