*
!bin/
!mapserver/
!qgisserver/
!tilegeneration/
!haproxy/
!print/print-apps/
!geoportal/vars*.yaml
!geoportal/interfaces/
!geoportal/CONST_vars.yaml
!geoportal/CONST_config-schema.yaml
!geoportal/geomapfish_geoportal/static
!geoportal/geomapfish_geoportal/locale
geoportal/geomapfish_geoportal/locale/*.pot
!geoportal/geomapfish_geoportal/authentication.py
!geoportal/geomapfish_geoportal/multi_tenant.py
!geoportal/geomapfish_geoportal/dev.py

!webcomponents
!package.json
!package-lock.json
!tsconfig.json
!vite.config.ts
!ui
ui/dist/
ui/node_modules/
ui/static/fa-*

# GeoGirafe
!geogirafe/custom.css
!geogirafe/iframe.html
!geogirafe/index.html
!geogirafe/mobile.html
!geogirafe/package.json
!geogirafe/package-lock.json
!geogirafe/public/
!geogirafe/src/
!geogirafe/tsconfig.json
!geogirafe/vite.config.js
