*.pyc
*.pyo
__pycache__/
/.env
/docker-compose.override.yaml
/env.secrets
/secrets.md
/upgrade
/.upgrade.yaml
/.UPGRADE*
/geoportal/geomapfish_geoportal/locale/geomapfish_geoportal-client.pot

# Generated with dev mode
/geoportal/geomapfish_geoportal/static/apihelp/index.html
