*.pyc
.*.swp
*.egg-info/
.installed.cfg
project.yaml
apache/README.txt
apache/frontend.conf
apache/mapserver.conf
apache/tilecache.conf
apache/wsgi.conf
deploy/deploy.cfg
development.ini
production.ini
alembic.ini
config.cfg
config.yaml
config_*.yaml
mapserver/*.map
mapserver/*.mako
mapserver/*/*.map
mapserver/*/*.mako
mapserver/ms_error.log
demo/locale/*/LC_MESSAGES/*.mo
print/config.yaml
print/templates/print.mako
deploy/hooks/post-restore-database
demo/static/mobile/resources/sass/.sass-cache
demo/static/mobile/resources/css/app.css
demo/static/mobile/archive/
demo/static/mobile/build/
demo/static/mobile/openlayers-mobile.js
demo/static/mobile/bootstrap.js
demo/static/mobile/bootstrap.json
c2cgeoportal
