*~
*.pyc
.*.swp
/demo.egg-info
/package.json
/.build
/apache/README.txt
/apache/frontend.conf
/apache/mapserver.conf
/apache/tilecache.conf
/apache/tiles.conf
/apache/wsgi.conf
/apache/application.wsgi
/deploy/deploy.cfg
/development.ini
/production.ini
/alembic.ini
/alembic_static.ini
/config.cfg
/project.yaml
/apache/tiles.conf
/mapserver/*.map
/mapserver/*/*.map
/mapserver/ms_error.log
/print/WEB-INF/lib/*.jar
/print/WEB-INF/classes/logback.xml
/print/print-apps/demo/config.yaml
/jsbuild/app.cfg
/demo/static/build/
/demo/locale/*.pot
/demo/locale/*/LC_MESSAGES/*.mo
/deploy/hooks/post-restore-database
/demo/static/mobile/resources/sass/.sass-cache
/demo/static/mobile/resources/css/app.css
/demo/static/mobile/archive/
/demo/static/mobile/build/
/demo/static/mobile/openlayers-mobile.js
/demo/static/mobile/bootstrap.js
/demo/static/mobile/bootstrap.json
