[buildout]
extends = CONST_buildout.cfg
parts += mapfile-template

[facts]
recipe = c2c.recipe.facts

[vars]
# instance id
instanceid = main
# database name
db = demo_geomapfish
# database schema
schema = main
# Name of the server hosting the application
host = ${facts:fqdn}
print_host = mapfish-geoportal.demo-camptocamp.com
# Enable admin interface
enable_admin_interface = true

# mapserver apache allows for clients (ex: Allow from camptocamp.com)
mapserv_allow = Allow from 127

[mapfile-template]
recipe = collective.recipe.cmd:py
on_install = true
on_update = true
cmds =
    >>> from subprocess import call
    >>> from os.path import join
    >>> cmd = join('buildout', 'bin', 'mako')
    >>> print 'calling ' + cmd + 'mapserver'
    >>> call([cmd, 'mapserver'])
uninstall_cmds =
    >>> from os import path, remove
    >>> for f in glob('mapserver/*.mako'):
    >>> print 'removing ' + f[:-5]
    >>> remove(f[:-5])

[print-war]
input += *.pdf

[doc]
recipe = zc.recipe.egg
eggs =
   sphinx
   rst2pdf

[versions]
