[buildout]
extends = CONST_buildout.cfg

[vars]
# instance id
instanceid = main
# database name
db = demo_c2cgp
# database schema
schema = main
# Name of the server hosting the application
host = to_be_defined
# Enable admin interface
enable_admin_interface = true

# mapserver apache allows for clients (ex: Allow from camptocamp.com)
mapserv_allow = Allow from ${vars:host} 10.26.10.87

js.jquery = 1.7.1
