---

throwErrorOnExtraParameters: true
defaultToSvg: true
resourceBundle: localisation

smtp:
  username: ${SMTP_USER}
  password: ${SMTP_PASSWORD}
  fromAddress: info@camptocamp.com
  host: email-smtp.eu-west-1.amazonaws.com
  port: 465
  ssl: True
  subject: Map from GeoMapFish demo
  body: Your printed map form GeoMapFish demo is <a href="{url}">here</a>.
  storage: !s3reportStorage
    bucket: print-mutualized
    prefix: gmf_demo
    endpointUrl: https://sos-ch-dk-2.exo.io/
    region: ch-dk-2
    accessKey: ${AWS_ACCESS_KEY_ID}
    secretKey: ${AWS_SECRET_ACCESS_KEY}

allowedReferers: &allowedHosts
  ${DISABLE_MUTUALIZED_PRINT}- !hostnameMatch
  ${DISABLE_MUTUALIZED_PRINT}  host: ${MUTUALIZED_PRINT_URL}
  ${DISABLE_LOCAL_PRINT}- !hostnameMatch
  ${DISABLE_LOCAL_PRINT}  host: ${VISIBLE_WEB_HOST}
  - !hostnameMatch
    host: geomapfish-demo-2-8.camptocamp.com
  - !hostnameMatch
    host: '2-8.geomapfish-demo.prod.apps.gs-ch-prod.camptocamp.com'
  - !hostnameMatch
    host: '2-8.geomapfish-demo.prod.apps.blue.gs-ch-prod.camptocamp.com'
  - !hostnameMatch
    host: '2-8.geomapfish-demo.prod.apps.green.gs-ch-prod.camptocamp.com'
  - !hostnameMatch
    host: camptocamp.github.io
  - !hostnameMatch
    host: fredj.github.io
  - !hostnameMatch
    host: ger-benjamin.github.io
  - !hostnameMatch
    host: arnaud-morvan.github.io
  - !hostnameMatch
    host: julsbreakdown.github.io
  - !hostnameMatch
    host: adube.github.io
  - !hostnameMatch
    host: localhost
  - !ipMatch
    ip: 127.0.0.1
  - !ipMatch
    ip: 172.17.0.0
    mask: 255.240.0.0
  - !localMatch {}

templates:
  1 A4 portrait: !template
    reportTemplate: A4_Portrait.jrxml
    outputFilename: &outputFilename
      GeoMapFish_${DOLLAR}{yyyy-MM-dd_HH-mm-ss}
    attributes:
      title:
        !string &title
        default: ""
      comments:
        !string &comments
        default: ""
      debug:
        !boolean &debug
        default: false
      legend: !legend &legend {}
      map:
        !map &map
        maxDpi: 254
        dpiSuggestions: [254]
        zoomLevels:
          !zoomLevels
          scales: [100, 250, 500, 2500, 5000, 10000, 25000, 50000, 100000, 500000]
        width: 555
        height: 675
      northArrow:
        !northArrow &northArrow
        size: 40
        default:
          graphic: "file:///north.svg"
      scalebar:
        !scalebar &scalebar
        width: 150
        height: 20
        default:
          fontSize: 8
      timezone:
        !string &timezone
        default: "Europe/Zurich"
      datasource:
        !datasource &datasource
        attributes:
          title: !string {}
          table: !table {}

    processors: &processors
      - !reportBuilder  # compile all reports in current directory
        directory: '.'
      - !configureHttpRequests &configureHttpRequests
        httpProcessors:
          - !forwardHeaders
            matchers: *allowedHosts
            headers:
              - Cookie
          ## For internal print
          ${DISABLE_LOCAL_PRINT}- !mapUri
          ${DISABLE_LOCAL_PRINT}  mapping:
          ${DISABLE_LOCAL_PRINT}    https?://${VISIBLE_WEB_HOST_RE_ESCAPED}${VISIBLE_ENTRY_POINT_RE_ESCAPED}tiles(.*): "${TILECLOUDCHAIN_INTERNAL_URL}${VISIBLE_ENTRY_POINT}tiles$1"
          ${DISABLE_LOCAL_PRINT}- !mapUri
          ${DISABLE_LOCAL_PRINT}  mapping:
          ${DISABLE_LOCAL_PRINT}    https?://${VISIBLE_WEB_HOST_RE_ESCAPED}${VISIBLE_ENTRY_POINT_RE_ESCAPED}(.*): "${GEOPORTAL_INTERNAL_URL}${VISIBLE_ENTRY_POINT}$1"
          ${DISABLE_LOCAL_PRINT}- !forwardHeaders
          ${DISABLE_LOCAL_PRINT}  matchers:
          ${DISABLE_LOCAL_PRINT}    - !hostnameMatch
          ${DISABLE_LOCAL_PRINT}      host: ${GEOPORTAL_INTERNAL_HOST}
          ${DISABLE_LOCAL_PRINT}      port: ${GEOPORTAL_INTERNAL_PORT}
          ## End for internal print
          - !forwardHeaders
            headers:
              - Referer
              - Referrer
              - X-Request-ID
              - Forwarded
          - !restrictUris
            matchers:
              - !localMatch
                reject: true
              - !hostnameMatch
                host: geoportal
              - !hostnameMatch
                host: tilecloudchain
              - !ipMatch
                ip: 10.0.0.0
                mask: 255.0.0.0
                reject: true
              - !ipMatch
                ip: 172.16.0.0
                mask: 255.240.0.0
                reject: true
              - !ipMatch
                ip: 192.168.0.0
                mask: 255.255.0.0
                reject: true
              - !acceptAll {}
      - !prepareLegend
        maxWidth: 185
        template: legend.jrxml
      - !createMap {}
      - !createNorthArrow {}
      - !createScalebar {}
      - !createDataSource
        processors:
          - !prepareTable
            dynamic: true
            columns:
              icon: !urlImage
                urlExtractor: (.*)
                urlGroup: 1

  2 A4 landscape: !template
    reportTemplate: A4_Landscape.jrxml
    outputFilename: *outputFilename
    attributes:
      title: *title
      comments: *comments
      debug: *debug
      legend: *legend
      map: !map
        <<: *map
        width: 800
        height: 441
      northArrow: *northArrow
      scalebar: *scalebar
      timezone: *timezone
      datasource: *datasource
    processors: *processors

  3 A3 portrait: !template
    reportTemplate: A3_Portrait.jrxml
    outputFilename: *outputFilename
    attributes:
      title: *title
      comments: *comments
      debug: *debug
      legend: *legend
      map: !map
        <<: *map
        width: 800
        height: 1000
      northArrow: *northArrow
      scalebar: *scalebar
      timezone: *timezone
      datasource: *datasource
    processors: *processors

  4 A3 landscape: !template
    reportTemplate: A3_Landscape.jrxml
    outputFilename: *outputFilename
    attributes:
      title: *title
      comments: *comments
      debug: *debug
      legend: *legend
      map: !map
        <<: *map
        width: 1150
        height: 673
      northArrow: *northArrow
      scalebar: *scalebar
      timezone: *timezone
      datasource: *datasource
    processors: *processors

  simple: !template
    reportTemplate: simple.jrxml
    attributes:
      map: *map
    processors:
      - !reportBuilder  # compile all reports in current directory
        directory: '.'
      - *configureHttpRequests
      - !createMap {}

  A0: !template
    reportTemplate: A0.jrxml
    attributes:
      map: !map
        <<: *map
        width: 2340
        height: 3327
        dpiSuggestions: [254, 127, 72]
    processors:
      - !reportBuilder  # compile all reports in current directory
        directory: '.'
      - *configureHttpRequests
      - !setTiledWms
        maxWidth: 1000
        maxHeight: 1000
      - !createMap {}
