#header-in {
    background: url('../img/logo.png') top left no-repeat;
    height: 80px;
}

.cgxp-icon-profile {
	background: url("../img/icons/chart_line.png") no-repeat scroll left top transparent;
}
.cgxp-icon-legend {
	background: url("../img/icons/legend.gif") no-repeat scroll left top transparent;
}
.cgxp-icon-redline {
	background: url("../img/icons/paintbrush.gif") no-repeat scroll left top transparent;
}

#toolbar {
    float: right;
    width: 100%;
    text-align: right;
    color: #333333;
    font: 11px arial,tahoma,verdana,helvetica;
    position: absolute;
    top: 54px;
    right: 7px;
}

#logo {
    float: left;
}

#social {
    float: right;
    position: absolute;
    top: 7px;
    right: 2px;
}

#social li {
    display: inline-block;
}

#social a {
    display: inline-block;
    height: 19px;
    padding: 0 2px;
    width: 19px;
}

#social .ln a {
    background: url("../img/icons/ln.png") no-repeat scroll 0 0 transparent;
}

#social .fb a {
    background: url("../img/icons/fb.png") no-repeat scroll 0 0 transparent;
}

#social .tw a {
    background: url("../img/icons/tw.png") no-repeat scroll 0 0 transparent;
}

#social .yt a {
    background: url("../img/icons/yt.png") no-repeat scroll 0 0 transparent;
}

#social .ss a {
    background: url("../img/icons/ss.png") no-repeat scroll 0 0 transparent;
}

#social .gh a {
    background: url("../img/icons/gh.png") no-repeat scroll 0 0 transparent;
}

#social .ln a:hover {
    background: url("../img/icons/ln_hover.png") no-repeat scroll 0 0 transparent;
}
#social .fb a:hover {
    background: url("../img/icons/fb_hover.png") no-repeat scroll 0 0 transparent;
}
#social .tw a:hover {
    background: url("../img/icons/tw_hover.png") no-repeat scroll 0 0 transparent;
}
#social .gh a:hover {
    background: url("../img/icons/gh_hover.png") no-repeat scroll 0 0 transparent;
}
#social .ss a:hover {
    background: url("../img/icons/ss_hover.png") no-repeat scroll 0 0 transparent;
}
#social .yt a:hover {
    background: url("../img/icons/yt_hover.png") no-repeat scroll 0 0 transparent;
}

#lang {
    font-size: 10px;
    position: absolute;
    right: 7px;
    text-transform: uppercase;
    top: 34px;
}

a {
    color: #333333;
    font: 11px arial,tahoma,verdana,helvetica;
}
