#header-in {
    background: url('../img/logo.png') top left no-repeat;
    height: 80px;
}
/*#header-out {
    background: url('../images/banner_right.png') top right no-repeat;
    background-color: #000000;
}*/

.cgxp-icon-profile {
	background: url("../img/icons/chart_line.png") no-repeat scroll left top transparent;
}
.cgxp-icon-legend {
	background: url("../img/icons/legend.gif") no-repeat scroll left top transparent;
}
.cgxp-icon-redline {
	background: url("../img/icons/paintbrush.gif") no-repeat scroll left top transparent;
}

#toolbar {
  float:right;
  width:100%;height:10px;
  text-align:right;
  padding:5px;
  color: #333333;
  font: 11px arial,tahoma,verdana,helvetica;
  position: absolute;
  top: 50px;
  right: 2px;
}

#logo {
    float: left;
    /*margin-top: 17px;*/
}

#social {
    float: right;
    position: absolute;
    top: 3px;
    right: 2px;
}

#social li {
    display: inline-block;
}

#social a {
    display: inline-block;
    height: 19px;
    padding: 0 2px;
    width: 19px;
}

#social .ln a {
    background: url("../img/icons/ln.png") no-repeat scroll 0 0 transparent;
}

#social .fb a {
    background: url("../img/icons/fb.png") no-repeat scroll 0 0 transparent;
}

#social .tw a {
    background: url("../img/icons/tw.png") no-repeat scroll 0 0 transparent;
}

#social .yt a {
    background: url("../img/icons/yt.png") no-repeat scroll 0 0 transparent;
}

#social .ss a {
    background: url("../img/icons/ss.png") no-repeat scroll 0 0 transparent;
}

#social .gh a {
    background: url("../img/icons/gh.png") no-repeat scroll 0 0 transparent;
}

#social .ln a:hover {
    background: url("../img/icons/ln_hover.png") no-repeat scroll 0 0 transparent;
}
#social .fb a:hover {
    background: url("../img/icons/fb_hover.png") no-repeat scroll 0 0 transparent;
}
#social .tw a:hover {
    background: url("../img/icons/tw_hover.png") no-repeat scroll 0 0 transparent;
}
#social .gh a:hover {
    background: url("../img/icons/gh_hover.png") no-repeat scroll 0 0 transparent;
}
#social .ss a:hover {
    background: url("../img/icons/ss_hover.png") no-repeat scroll 0 0 transparent;
}
#social .yt a:hover {
    background: url("../img/icons/yt_hover.png") no-repeat scroll 0 0 transparent;
}

#lang {
    font-size: 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 30px;
}

a {
  color: #333333;
  font: 11px arial,tahoma,verdana,helvetica;
}
/*#toolbar .icon-admin {
  background: url("../img/icons/application_form.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 18px;
}
#toolbar .icon-edit {
  background: url("../img/icons/application_edit.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 18px;
}*/
