#header-in {
    background: url('../img/logo.png') top left no-repeat;
    height: 80px;
}
/*#header-out {
    background: url('../images/banner_right.png') top right no-repeat;
    background-color: #000000;
}*/

