#header-in {
    background: url('../img/logo.png') top left no-repeat;
    height: 80px;
}
/*#header-out {
    background: url('../images/banner_right.png') top right no-repeat;
    background-color: #000000;
}*/

.cgxp-icon-profile {
	background: url("../img/icons/chart_line.png") no-repeat scroll left top transparent;
}
.cgxp-icon-legend {
	background: url("../img/icons/legend.gif") no-repeat scroll left top transparent;
}
.cgxp-icon-redline {
	background: url("../img/icons/paintbrush.gif") no-repeat scroll left top transparent;
}

