<!DOCTYPE html>
<html lang="{{mobileCtrl.lang}}" ng-app="demo" ng-controller="MobileController as mainCtrl">
  <head>
    <title translate>Mobile Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-demo-capable" content="yes">
% if debug:
    <link rel="stylesheet/less" href="${request.static_url('%s/ngeo/contribs/gmf/less/font.less' % request.registry.settings['node_modules_path'])}" type="text/css">
    <link rel="stylesheet/less" href="${request.static_url('demo:static-ngeo/less/mobile.less')}" type="text/css">
    <link rel="stylesheet/less" href="${request.static_url('%s/ngeo/contribs/gmf/less/mobile.less' % request.registry.settings['node_modules_path'])}" type="text/css">
% else:
    <link rel="stylesheet" href="${request.static_url('demo:static-ngeo/build/mobile.css')}" type="text/css">
% endif
  </head>
  <body ng-class="{'nav-is-visible': mainCtrl.navIsVisible(),
                   'nav-left-is-visible': mainCtrl.leftNavIsVisible(),
                   'nav-right-is-visible': mainCtrl.rightNavIsVisible()}">
    <main>
      <gmf-map gmf-map-map="mainCtrl.map"></gmf-map>
      <button class="nav-trigger nav-left-trigger"
        ng-click="mainCtrl.toggleLeftNavVisibility()">
      </button>
      <div class="search">
        <gmf-search gmf-search-map="mainCtrl.map"
                    gmf-search-datasources="mainCtrl.searchDatasources"
                    gmf-search-clearbutton="true">
        </gmf-search>
      </div>
      <button class="nav-trigger nav-right-trigger"
        ng-click="mainCtrl.toggleRightNavVisibility()">
      </button>
      <div class="overlay" ng-click="mainCtrl.hideNav()"></div>
      <button ngeo-mobile-geolocation=""
        ngeo-mobile-geolocation-map="::mainCtrl.map"
        ngeo-mobile-geolocation-options="::mainCtrl.mobileGeolocationOptions">
      </button>
    </main>
    <nav class="nav-left" gmf-mobile-nav>
      <header>
        <a class="go-back" href="#"></a>
      </header>
      <!-- main menu -->
      <div class="active slide">
        <ul>
          <li>
            <a href="#background" data-toggle="slide-in">Background</a>
            <a href="#data" data-toggle="slide-in">Data</a>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
        <p class="text-center">
          <b>Put your logo here</b>
        </p>
      </div>
      <div id="background" class="slide" data-header-title="Background">
        <span>Background</span>
      </div>
      <div id="data" class="slide" data-header-title="Data">
        <ul>
          <li>
            <a href="#themes" data-toggle="slide-in">Themes</a>
          </li>
        </ul>
      </div>
      <div id="themes" class="slide" data-header-title="Themes">
        <span>Themes</span>
      </div>
    </nav>
    <nav class="nav-right" gmf-mobile-nav>
      <header>
        <a class="go-back" href="#"></a>
      </header>
      <!-- main menu -->
      <div class="active slide">
        <ul>
          <li>
            <a href="#measure-tools" data-toggle="slide-in">Measure tools</a>
          </li>
        </ul>
      </div>
      <div id="measure-tools" class="slide" data-header-title="Measure tools">
        <ul>
          <li>
            <a href="#">Length</a>
            <a href="#">Area</a>
          </li>
        </ul>
      </div>
    </nav>
% if debug:
    <script>
        window.CLOSURE_BASE_PATH = '';
        window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/angular/angular.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/proj4/dist/proj4-src.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/d3/d3.min.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/typeahead.js/dist/typeahead.bundle.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % request.registry.settings['closure_library_path'])}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script>
        goog.require('demo_mobile');
    </script>
    <script src="${request.static_url('demo:static-ngeo/js/mobile.js')}"></script>
    <script src="${request.static_url('demo:static-ngeo/build/templatecache.js')}"></script>
    <script src="${request.static_url('%s/ngeo/utils/watchwatchers.js' % request.registry.settings['node_modules_path'])}"></script>
    <script src="${request.static_url('%s/less/dist/less.min.js' % request.registry.settings['node_modules_path'])}"></script>
% else:
    <script src="${request.static_url('demo:static-ngeo/build/mobile.js')}"></script>
% endif
    <script>
      (function() {
         var module = angular.module('demo');
         var serverVars = {
           serviceUrls: {
             fulltextsearch: '${request.route_url('fulltextsearch') | n}?query=%QUERY'
           }
         };
         module.constant('serverVars', serverVars);
       })();
    </script>
  </body>
</html>
