*
!alembic.ini
!alembic.yaml
!webpack.apps.js
!webpack.config.js
!config.yaml
!eval_templates.sh
!production.ini
!setup.cfg
!setup.py
!demo_geoportal
demo_geoportal/static/lib/cgxp
!demo_geoportal/static/lib/cgxp/core/src/theme
!demo_geoportal/static/lib/cgxp/openlayers/theme
