[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
plaster-pastedeploy = "==0.7"
pyramid = "==2.0"
pyramid-mako = "==1.1.0"
pyramid-debugtoolbar = "==4.9"
waitress = "==2.1.0"
alembic = "==1.7.7"
pyramid-retry = "==2.1.1"
pyramid-tm = "==2.5"
sqlalchemy = "==1.4.32"
transaction = "==3.0.1"
"zope.sqlalchemy" = "==1.6"
cornice = "==6.0.1"
requests = "==2.27.1"
psycopg2 = "==2.9.3"
c2cwsgiutils = {extras = ["standard", "broadcast"], version = "==5.0.0"}

[dev-packages]
prospector = {version = "==1.7.7", extras = ["with_bandit"]}
flake8 = "==4.0.1"

[requires]
python_version = "3.8"
