name: Upgrade 2.5

on:
  repository_dispatch:
    types:
      - geomapfish_25_updated

jobs:
  upgrade:
    runs-on: ubuntu-22.04
    name: Upgrade 2.5
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'prod-2-5'
          token: ${{ secrets.GITHUB_GOPASS_CI_TOKEN }}

      - name: Update the demo
        run: scripts/upgrade ${{ github.event.client_payload.version }} origin
      - name: Push interrupted Upgrade
        run: |
          ls -als .UPGRADE*
          git add --all || true
          git add --force .UPGRADE_INSTRUCTIONS upgrade .upgrade.yaml || true
          git status
          git commit -m "Interrupted upgrade to ${{ github.event.client_payload.version }}"
          git push --force origin HEAD:interrupted-upgrade-${{ github.event.client_payload.version }}
          python3 -c 'import requests
          responce = requests.post(
              "https://api.github.com/repos/camptocamp/demo_geomapfish/pulls",
              json={
                "title": "Upgrade failed",
                "body": "See https://github.com/camptocamp/demo_geomapfish/actions?query=workflow%3A%22Upgrade+2.5%22",
                "head": "interrupted-upgrade-${{ github.event.client_payload.version }}",
                "base": "prod-2-5",
                "maintainer_can_modify": True
              },
              headers={
                  "Accept": "application/vnd.github.v3+json",
                  "Authorization": "Bearer ${{ secrets.GITHUB_GOPASS_CI_TOKEN }}",
                  "Content-Type": "application/json",
              },
          )
          assert responce.status_code < 300, responce.text'
        if: failure()
